.addnew-btn {
  background-color: #a55bea !important;
  color: white;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: 57px;
  margin-right: -99px;
}
