* {
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 305px;
  background: #ffffff1b;
  box-shadow: 0 16px 38px -12px rgba(66, 43, 43, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.mainpanel {
  position: relative;
  float: right;
  width: calc(100% - 305px);
}
